<template>
  <div>
    <div class="pa-5">
      <!-- INTRO -->
      <div class="col-md-6 col-xs-12 text-center text-white">
        <h4>Finding creative solutions for clients</h4>Feel free to visit my wall
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-xs-12 text-center">
        <q-img
          style="width:60%"
          src="statics/img/bg.jpeg"
          spinner-color="primary"
          spinner-size="82px"
        ></q-img>
      </div>
      <div class="q-ma-sm col-md-6 col-xs-12 text-white">
        <p
          class="text-center text-white"
          :class=" $q.screen.lt.md ? 'text-h4' : 'text-h2' "
        >David Miles</p>
        <q-card-section class="text-white text-center">
          Hi, my name is david miles am docile and prudent in nature,
          i have the autocratic powers to my fears,i like mingling with
          people of same mind set and positive thinkers that always believe
          to have solution to all problems,
          I'm a web developer who aims to combine the beauty of design with the logical
          perfection of coding. Training myself every day and pushing my own limits
          to discover new ways of creating a great experience for the users with a fast tools.
        </q-card-section>
        <p>
          <q-btn
            color="primary"
            type="a"
            href="https://docs.google.com/document/d/1VLK8JmX5UrZAAvlfH-kr2fRTY3PwtA6b7yCllhbXC3U/edit"
            icon="mdi-arrow-right"
            label="view my CV"
          />
        </p>
      </div>
    </div>

    <!-- Services -->
    <h3 class="text-center text-white">Services</h3>

    <div class="row justify-center q-gutter-sm">
      <div class="col-md-3 col-xs-12" v-for="item in stackItems" :key="item.icon">
        <q-card class="text-center" flat style="background-color:transparent">
          <q-icon size="110px" color="primary" :name="item.icon" />
          <center>
            <q-icon size="110px" color="primary" :name="item.icon2" style="width:30%" />
          </center>
          <q-card-section class="text-bold text-h6 text-white">{{ item.heading }}</q-card-section>
          <q-card-section class="text-white">{{ item.body }}</q-card-section>
        </q-card>
      </div>
    </div>

    <!-- Build -->
    <h3 class="text-center text-white">My Tools</h3>

    <div class="row justify-center q-gutter-sm">
      <div class="col-md-3 col-xs-12" v-for="item in backendItems" :key="item.icon">
        <q-card class="text-center" flat style="background-color:transparent">
          <q-icon size="100px" :name="item.icon" color="primary" />

          <q-card-section class="text-bold text-h6 text-white">{{ item.heading }}</q-card-section>
          <q-card-section class="text-white">{{ item.body }}</q-card-section>
        </q-card>
      </div>
    </div>

    <!-- Interests -->
    <h3 class="text-center text-white">My Interests</h3>

    <div class="row justify-center q-pa-md">
      <div class="col-md-12">
        <div class="row justify-center">
          <div
            class="col-xs-6 col-md-4 q-gutter-md text-white"
            v-for="(interest, index) in interests"
            :key="index"
          >
            <center>
              <q-icon :name="interest.icon" size="40px" color="primary"></q-icon>
            </center>
            <p class="text-h5 text-center">{{ interest.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      stackItems: [
        {
          icon: "mdi-vuejs",
          heading: "Vue.js",
          body:
            "Fast, flexible web applications with highly responsive user-interfaces."
        },
        // {
        //   icon: "mdi-nodejs",
        //   heading: "Node.js",
        //   body:
        //     "Building data-intensive, real-time applications based on JavaScript."
        // },
        {
          icon2: "img:statics/img/quasar-logo.png",
          heading: "Quasar",
          body: "Build high-performance VueJS user interfaces in record time"
        },

        {
          icon: "mdi-vuetify",
          heading: "Vuetify",
          body:
            "Material Design component framework for Vue.js. It aims to provide all the tools necessary to create beautiful content rich applications."
        }
      ],

      backendItems: [
        {
          icon: "mdi-nodejs",
          heading: "Node.js",
          body:
            "Building data-intensive, real-time applications based on JavaScript."
        },
        // {
        //   icon: "img:statics/img/strapi.svg",
        //   heading: "Strapi.js",
        //   body:
        //     "Manage your content. Distribute it anywhere. The open source Headless CMS Front-End Developers love."
        // },
        {
          icon: "img:statics/img/sails.svg",
          heading: "Sails.js",
          body:
            "Build practical, production-ready Node.js apps in a matter of weeks, not months."
        },
        {
          icon: "img:statics/img/expressjs.svg",
          heading: "Express.js",
          body: "Fast, unopinionated, minimalist web framework for Node.js"
        }
      ],

      interests: [
        { text: "Music", icon: "mdi-music" },
        { text: "Travelling", icon: "mdi-rv-truck" },
        { text: "coding", icon: "mdi-laptop" },
        { text: "Developing", icon: "mdi-theater" },
        { text: "Space", icon: "mdi-space-invaders" },
        { text: "Books", icon: "mdi-book-open-page-variant" }
      ]
    };
  }
};
</script>

<style scoped>
.img {
  border-radius: 50%;
}
.img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
</style>