<template>
  <div class="q-pa-lg">
    <div>
      <br />
      <br />
      <br />
      <br />

      <p class="text-h4 text-center text-uppercase text-white">Contact me</p>
      <!-- <center>
        <q-img
          src="../statics/img/one.png"
          class
          style="height: 300px; max-width: 300px; border-radius:20px"
        ></q-img>
      </center>-->
      <div class="row justify-center">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center">
          <q-form @submit="contactMe" class="q-gutter-md">
            <q-input
              outlined
              label="Full Name"
              v-model="fullName"
              name="fullName"
              style="background-color:white"
            ></q-input>

            <q-input
              outlined
              label="Your Email"
              v-model="email"
              name="emailAddress"
              style="background-color:white"
            ></q-input>

            <q-input
              v-model="message"
              filled
              name="message"
              type="textarea"
              style="background-color:white"
              label="message"
            />

            <q-toggle v-model="accept" label="I accept the license and terms" class="text-white" />

            <div>
              <q-btn label="Submit" type="submit" color="primary" style="width:100%" />
            </div>
          </q-form>

          <!--  -->
          <div class="text-center">
            <q-btn type="a" href="https://twitter.com/kingdavidmiles" target="_blank" fab flat>
              <q-icon name="mdi-twitter" color="white" size="40px" />
            </q-btn>

            <q-btn type="a" href="https://gitlab.com/kingdavidmiles" target="_blank" fab flat>
              <q-icon name="mdi-gitlab" color="white" size="40px" />
            </q-btn>

            <q-btn type="a" href="https://www.instagram.com/dawido75" target="_blank" fab flat>
              <q-icon name="mdi-instagram" color="white" size="40px" />
            </q-btn>
            <!--  -->

            <q-btn color="primary" @click="persistent = true" fab flat>
              <q-icon name="mdi-phone" color="white" />
            </q-btn>

            <q-dialog v-model="persistent" transition-show="scale" transition-hide="scale">
              <q-card class="bg-white text-black" style="width: 300px">
                <q-card-section></q-card-section>

                <q-card-section class="text-h5">(+234)9039172303</q-card-section>
              </q-card>
            </q-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import emailjs from "emailjs-com";
export default {
  data() {
    return {
      fullName: "",
      age: null,
      message: "",
      email: "",
      accept: false,
      persistent: false
      // icons: [{ btn: "mdi-twitter", to: "twitter.com" }]
    };
  },
  methods: {
    /**
 *  this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "warning",
          message: "You need to accept the license and terms first"
        });
 */
    contactMe(e) {
      console.log("riched");
      if (this.accept == true) {
        console.log("ok");
        emailjs
          .sendForm(
            "gmail",
            "template_YvWTNwqh",
            e.target,
            "user_dWUatef4PyIwUTn0BTzAu"
          )
          .then(
            result => {
              console.log("SUCCESS!", result);
              this.$q.notify({
                color: "green-4",
                textColor: "white",
                icon: "cloud_done",
                message: "Submitted"
              });
            },
            error => {
              console.log("FAILED...", error);
            }
          );
      }
    },
    onReset() {
      this.name = null;
      this.age = null;
      this.accept = false;
    }
  }
};
</script>

<style scoped>
</style>