<template>
  <div>
    <div v-if="show">
      <q-page-sticky position="bottom-right" :offset="[-150, 500]" class="gt-sm">
        <div class="row q-gutter-md">
          <div class="col-md-1">
            <q-btn type="a" href="https://twitter.com/kingdavidmiles" fab flat>
              <q-icon name="mdi-twitter" class="text-white" />
            </q-btn>

            <!-- <q-btn fab flat>
            <q-icon name="mdi-facebook" class="text-white"></q-icon>
            </q-btn>-->
            <q-btn type="a" href="https://gitlab.com/kingdavidmiles" fab flat>
              <q-icon name="mdi-gitlab" class="text-white" />
            </q-btn>
            <q-btn type="a" href="https://www.instagram.com/dawido75" fab flat>
              <q-icon name="mdi-instagram" class="text-white" />
            </q-btn>

            <q-btn fab flat>
              <q-icon name="mdi-facebook" class="text-white"></q-icon>
            </q-btn>
          </div>
        </div>
      </q-page-sticky>

      <h2
        class="text-center text-white text-capitalize"
        :class="$q.screen.gt.md ? '  text-h2' : '  text-h3'"
      >I'm david miles</h2>

      <q-card flat class="text-center text-white" style="background-color:transparent">
        <q-card-section
          :class="$q.screen.gt.md ? '  text-body1' : '  text-body1'"
        >Am a web and mobile developer from Nigeria and am available for taking your project to next level.</q-card-section>

        <q-card-section
          class="text-center text-white"
          :class="$q.screen.gt.md ? '  text-body1' : '  text-body1'"
        >I specialize in ..</q-card-section>
      </q-card>

      <div class="row q-gutter-md justify-center">
        <div
          class="col-xs-12 col-sm-6 col-md-4 q-pa-md"
          v-for="(item, index) in items"
          :key="index"
        >
          <center>
            <q-icon :name="item.icon" size="100px" class="text-white"></q-icon>
          </center>

          <q-card class="example3" style="background-color:transparent">
            <q-card-section
              class="text-center text-white"
              :class="$q.screen.gt.md ? 'text-h5' : 'text-subtitle2'"
            >{{item.title }}</q-card-section>
            <q-card-section
              class="text-center text-white"
              :class="$q.screen.gt.md ? '  text-body1' : '  text-body1'"
            >{{ item.one}}</q-card-section>
          </q-card>
        </div>
      </div>
      <br />
      <center>
        <q-tabs>
          <q-route-tab to="/contact" label="<Get in Touch/>" class="text-lowercase text-white" />
        </q-tabs>
      </center>
    </div>
    <!--  -->
    <div v-else class="row justify-center">
      <div class="col-3 md"></div>
      <div class="col-xs-12 col-md-9 q-pa-md">
        <center>
          <!-- <q-card > -->
          <q-item>
            <q-item-section>
              <q-item-label>
                <q-skeleton type="text" class="text-white" />
                <q-skeleton width="60%" type="text" />
                <br />
                <q-skeleton type="text" />
                <q-skeleton type="text" />
              </q-item-label>
            </q-item-section>
          </q-item>
          <!-- </q-card> -->
        </center>
        <div class="row justify-center ma-1">
          <div class="col-xs-12 col-md-6 q-pa-sm q-gutter-md" v-for="list in 5" :key="list">
            <center>
              <q-card>
                <q-item>
                  <q-item-section>
                    <q-item-label>
                      <q-skeleton size="120px" type="circle" />
                    </q-item-label>

                    <q-item-label>
                      <q-skeleton size="40px" class="full-width" type="text" />
                    </q-item-label>
                    <q-item-label>
                      <q-skeleton type="text" />
                      <q-skeleton type="text" />
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-card>
            </center>
          </div>
        </div>
      </div>
      <div class="col-3 md"></div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      contact: "<contact me/>",
      items: [
        {
          icon: "mdi-checkbox-blank",

          title: " web Development",
          one: "create, share and collabrate on projects all in one place "
        },
        {
          icon: "mdi-checkbox-blank-circle",
          title: " Mobile Development",
          one:
            "Build powerful, process-based applications to solve everyday business problems"
        },

        {
          icon: "mdi-triangle",
          title: "UI/UX Design",
          one:
            "Good looking user interfaces with a good user experience for an affordable price. "
        },

        {
          icon: "mdi-cube",
          title: "Graphics Design",
          one:
            " visual communication and problem-solving through the use of typography, photography, and illustration"
        },

        {
          icon: "mdi-bandcamp",
          title: "Consulting  ",
          one:
            "Have a business idea and don't know what stack to use? , i can give the best recommendation for products and services"
        }
      ],
      show: false
    };
  },
  mounted() {
    setTimeout(() => {
      this.show = true;
    }, 2000);
  }
};
</script>
  


<style  scoped>
.shadow-box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border-radius: 50%;
  font-size: 12px;

  border: 1px solid #eee;
}

.example3 {
  padding: 10px;
  box-shadow: -2px 9px rgb(49, 48, 48);
}
</style>