<template>
  <div>
    <div class="container pa-5">
      <!-- <vue-typed-js :strings="[' Our Recent Work']">
        <h3 class="typing" :class="$q.screen.gt.sm ? 'text-h3' : 'text-h5 text-center'"></h3>
      </vue-typed-js>-->
      <h5 class="text-white">My Recent Work</h5>

      <!-- OUR REPO -->
      <div class="row q-gutter-lg justify-center">
        <div v-for="recent in recents" :key="recent.id" class="col-md-8 col-xs-12">
          <q-card class="my-card">
            <q-img
              :src="(recent.thumbnail)"
              spinner-color="white"
              img-class="my-custom-image"
              style="height:500px"
              class="rounded-borders"
              contain
            >
              <div class="absolute-bottom text-subtitle1 text-center">
                <div class="text-h6">{{ recent.title }}</div>
                <div>{{ recent.description }}</div>
              </div>
            </q-img>
          </q-card>
        </div>
      </div>
      <!-- // OUR REPO -->
    </div>
    <div class="text-center">
      <h3 class="text-white">+ others</h3>

      <small class="text-white">Most of my projects are private sourced, only few can be viewed</small>
    </div>
    <br />
  </div>
</template>

<script>
export default {
  meta: {
    title: "Projects | Crudloop Web And Mobile"
  },
  data() {
    return {
      recents: [
        {
          id: "002",
          title: "SMAPP",
          description:
            "Automated School Management Application For Schools, Smapp makes it easy to visually manage your school, staffs and students all from your mobile device, smapp takes out the hassle d to compile, notify and organize your school, allowing you to focus more on your students, staff and parent ",
          thumbnail: "statics/projects/smapp/thumb.png",
          types: ["Android", "Web", "Desktop"],
          proprietary: true
        },

        {
          id: "004",
          title: "Buildul Web & Mobile",
          description:
            "Buildul is an ecommerce market place for building materials",
          thumbnail: "statics/projects/buildul/thumb.png",
          types: ["Android"],
          proprietary: true
        },
        {
          id: "005",
          title: "Enacomes - voting application for universities",
          description:
            "Enacomes handles the departmental votes of a department, ranks it and outputs the result on an adminstrator page for it to be analyzed publicly in realtime",
          thumbnail: "statics/projects/enacomes/thumb.png",
          types: ["Web"],
          proprietary: false
        }
      ]
    };
  }
};
</script>

<style lang="sass">
.my-custom-image
  filter: blur(3px) // grayscale(80%);
</style>