<template>
  <div class="q-pa-md" style="background-color:#0f0f10">
    <h3 class="text-center text-white">Resume</h3>
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-6 col-md-6 q-pa-md">
        <h3 class="text-center text-white" >Experence</h3>
        <q-card class="row justify-center " style=" background-color:#070708">
          <q-card-section>
            <q-timeline color="secondary">
              <q-timeline-entry
                title="Web Design"
                body="2012 - 2014 | Сompany Inc"
                icon="mdi-school"
                class="text-white"
              />
              <br />

              <q-timeline-entry
                title="Fornt-End Developer"
                body="2014 - 2015 | Сompany Inc"
                icon="mdi-school"
                class="text-white"
              />
              <br />
              <q-timeline-entry
                title="Web Development"
                body="2014 - 2015 | Сompany Inc"
                icon="mdi-school"
                class="text-white"
              />
            </q-timeline>
          </q-card-section>
        </q-card>
      </div>
      <!-- 2nd -->

      <div class="col-xs-12 col-sm-6 col-md-6 q-pa-md">
        <h3 class="text-center text-white">Education</h3>
        <q-card class="row justify-center" style=" background-color:#070708">
          <q-card-section>
            <q-timeline color="secondary">
              <q-timeline-entry
                title="Phd"
                body="2011 - 2013 | Computer Science"
                icon="mdi-school"
                class="text-white"
              />
              <br />

              <q-timeline-entry
                title="Post Graduation"
                body="2013 - 2016 | Computer Science"
                icon="mdi-school"
                class="text-white"
              />
              <br />
              <q-timeline-entry
                title="Gradution"
                body="2016 - 2018 | Computer Science"
                icon="mdi-school"
                class="text-white"
              />
            </q-timeline>
          </q-card-section>
        </q-card>
      </div>
    </div>

<!-- Skills -->

    <h3 class="text-center text-white">Skills</h3>

    <q-card style=" background-color:#070708">
      <q-card-section>
        <div class="row justify-center text-white">
          <div class="col-xs-12 col-sm-6 col-md-6 q-pa-md">
            <p>HTML</p>
            <q-linear-progress size="25px" :value="progress1" color="green" class="q-mt-sm">
              <div class="absolute-full flex flex-center">
                <q-badge color="white" text-color="accent" :label="progressLabel1" />
              </div>
            </q-linear-progress>
            <br />
            <p>Javascript</p>
            <q-linear-progress size="25px" :value="progress2" color="green" class="q-mt-sm">
              <div class="absolute-full flex flex-center">
                <q-badge color="white" text-color="accent" :label="progressLabel2" />
              </div>
            </q-linear-progress>
            <br />
            <p>Vue(vuetify & Quasar)</p>
            <q-linear-progress size="25px" :value="progress3" color="green" class="q-mt-sm">
              <div class="absolute-full flex flex-center">
                <q-badge color="white" text-color="accent" :label="progressLabel3" />
              </div>
            </q-linear-progress>
          </div>
          <!--  -->

          <div class="col-xs-6 col-sm-3  col-md-3 q-pa-md" v-for="(img, index) in imgs" :key="index">
            <q-img :src="img.image" style="width:100px">
              <div class="q-pa-md text-center" style="background-color:transparent; color:white">
                <p class="text-center">{{ img.pecent }}</p>
                <p class="text-center">{{ img.lang }}</p>
              </div>
            </q-img>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <!-- my working experence -->
    <h3 class="text-center text-white">My Working Process</h3>
    <q-card style=" background-color:#070708">
      <q-card-section>
        <div class="row justify-center text-white">
          <div class="col-xs-12 col-sm-2 col-md-2 q-pa-md">
            <p>01</p>
            <p>Discus ideal</p>
            <q-separator class="bg-white"></q-separator>
            <p>02</p>
            <p>Web concept</p>
            <q-separator class="bg-white">></q-separator>
            <p>03</p>
            <p>Discus ideal</p>
            <q-separator class="bg-white">></q-separator>
            <p>04</p>
            <p>Web concept</p>
            <q-separator class="bg-white">></q-separator>
          </div>
          <!--  -->
          <div class="col-md-4 q-pa-md" :class="$q.screen.lt.md">
            <q-img
              src="statics/img/bg.jpeg"
              alt="Avatar"
              style="width:300px; height:300px"
              class="img"
              
            >
            <h3 class="text-center text-black q-pa-lg">Working Process</h3>
            </q-img>
          </div>
          <!--  -->

          <div class="col-xs-12 col-sm-2 col-md-2 q-pa-md">
            <p>05</p>
            <p>Creative concept</p>
            <q-separator class="bg-white" align="center"></q-separator>
            <p>06</p>
            <p>Final concept</p>
            <q-separator class="bg-white"></q-separator>
            <p>07</p>
            <p>Creative concept</p>
            <q-separator class="bg-white"></q-separator>
            <p>08</p>
            <p>Final concept</p>
            <q-separator class="bg-white"></q-separator>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      progress1: 0.9,
      progress2: 0.7,
      progress3: 0.8,

      imgs: [
        { image: "statics/img/70.png", pecent: "50%", lang: "sails js" },

        { image: "statics/img/30.png", pecent: "30%", lang: "Qraph Ql" }
        // { image: "statics/img/download.png", pecent: "100%", lang: "js" }
      ]
    };
  },
  computed: {
    progressLabel1() {
      return (this.progress1 * 100).toFixed(1) + "%";
    },

    progressLabel2() {
      return (this.progress2 * 100).toFixed(2) + "%";
    },
    progressLabel3() {
      return (this.progress3 * 100).toFixed(2) + "%";
    }
  }
};
</script>

<style scoped>
.img {
  border-radius: 50%;
}
.img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
</style>