<template>
  <div class="q-pa-md">
    <p
      class="text-capitalize text-center text-white"
      :class="$q.screen.gt.md ? '  text-h4' : '  text-h4'"
    >My Team</p>

    <div class="row justify-center">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <q-card flat style="background-color:transparent">
          <q-card-section
            class="text-weight-light text-center text-white"
            :class="$q.screen.gt.md ? '  text-body1' : '  text-body1'"
          >
            In our time building apps for customers, we've found ourselves re-rolling
            some of the same key features over and over again between projects. So we picked
            some of the things that kept popping up, and implemented our own opinionated solutions for them.
          </q-card-section>
        </q-card>

        <p
          class="text-h5 text-center text-white"
          :class="$q.screen.gt.md ? '  text-h4' : '  text-body'"
        >We Are Small Team With Big Talents</p>
        <p
          class="text-h5 text-center text-weight-light text-white"
          :class="$q.screen.gt.md ? '  text-body1' : '  text-body1'"
        >check our past projects</p>

        <center>
          <q-btn flat fab class="btn">
            <q-icon name="mdi-arrow-down-bold" size="50px" color="white" />
          </q-btn>
        </center>
      </div>
    </div>

    <div class="row justify-center">
      <div class="col-xs-12 col-md-8">
        <div class="row justify-center">
          <div
            class="col-xs-12 col-md-4 q-pa-md text-white"
            v-for="(card, index) in cards"
            :key="index"
          >
            <q-img :src="card.img" class="text-center img">
              <q-card-section class="text-center text-white">{{ card.text }}</q-card-section>
            </q-img>
          </div>
        </div>
      </div>
    </div>
    <p class="text-weight-light text-center text-white">
      visit our offical website
      <a
        href="www.crudloop.com"
        style="text-decoration:none; color:red"
      >crudloop.com</a>
    </p>
    <!--  -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      cards: [
        { img: "../statics/img/one.png", text: "Buildul.com", to: "./profile" },

        { img: "../statics/img/yeap.jpg", text: "smapp.app", to: "./profile" },
        { img: "../statics/img/leave.jpeg", text: "enacome.com", to: "./profile" },
        {
          img: "../statics/img/me.jpeg",
          text: "easypahmarcy.com",
          to: "./profile"
        },
        { img: "../statics/img/july.jpg", text: "smapp.app", to: "./profile" },
        { img: "../statics/img/one.png", text: "enacome.com", to: "./profile" }
      ]
    };
  }
};
</script>
<style scoped>
.btn {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.img{
  height: 150px;
}
</style>