<template>
  <div>
    <q-footer bordered   class="pt-12 bg-grey-3">
      <!--  -->
      <div  class="pt-12">
        <div class="text-center">
         

          <!-- social btn -->
          <div>
            <q-btn flat fab>
              <q-icon name="mdi-facebook" size="lg" class="text-blue" />
            </q-btn>
            <q-btn flat fab>
              <q-icon name="mdi-twitter" size="lg"  class="text-blue"/>
            </q-btn>
            <q-btn flat fab>
              <q-icon name="mdi-whatsapp" size="lg" class="text-green" />
            </q-btn>
            <q-btn flat fab>
              <q-icon name="mdi-gitlab" size="lg" class="text-orange"/>
            </q-btn>
             <p class="text-weight-light my-2 text-black">copyright &copy; 2018-2019 crudLoop</p>
          </div>
        </div>
      </div>
    </q-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      crudoxs: [
        {
          name: "crudLoop",
          define: "what is crudloop",
          crudoxCommunity: "community",
          crudoxnews: "news",
          crudoxBusiness: "for business"
        }
      ],

      about: [
        {
          title: "About",
          company: "our company",
          security: "security",
          legal: "legal",
          logo: "logo/artwork"
        }
      ]
    };
  }
};
</script>

<style  scoped>
.text {
  text-decoration: none;
  color: white;
}
</style>