// app global css in SCSS form

// @font-face {
//   font-family: "Comfortaa";
//   src: url("./fonts/Comfortaa-Bold.ttf");
//   font-weight: bold;
// }

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Regular.ttf");
}

// @font-face {
//   font-family: "Comfortaa";
//   src: url("./fonts/Comfortaa-Light.ttf");
// }

body {
  font-family: "Comfortaa", cursive !important;
}
a {
  text-decoration: none;
}
.container-fluid {
  width: 120%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.center {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.form-xy-center {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: 120%;
  // max-width: 330px;
  // padding: 15px;
  // margin: auto;
  position: relative;
  top: calc(100vh - 80vh);
  max-width: 500px;
  margin: auto;
}
.form-icon-weight {
  -webkit-text-stroke: 6px white;
}
.pa-0 {
  padding: 0px !important;
}
.mx-auto {
  margin: auto;
}
@for $z from 0 through 12 {
  .pa-#{$z} {
    // box-shadow: nth($shadows, $z);
    padding: ($z * 4) + px;
  }
}
@for $z from 0 through 12 {
  .pt-#{$z} {
    // box-shadow: nth($shadows, $z);
    padding-top: ($z * 4) + px;
  }
}
@for $z from 0 through 12 {
  .pb-#{$z} {
    // box-shadow: nth($shadows, $z);
    padding-bottom: ($z * 4) + px;
  }
}
@for $z from 0 through 12 {
  .pl-#{$z} {
    // box-shadow: nth($shadows, $z);
    padding-left: ($z * 4) + px !important;
  }
}
@for $z from 0 through 12 {
  .px-#{$z} {
    // box-shadow: nth($shadows, $z);
    padding: 0 ($z * 4) + px;
  }
}
@for $z from 0 through 12 {
  .py-#{$z} {
    // box-shadow: nth($shadows, $z);
    padding: ($z * 4) + px 0px;
  }
}

@for $z from 0 through 12 {
  .ma-#{$z} {
    // box-shadow: nth($shadows, $z);
    margin: ($z * 4) + px;
  }
}
@for $z from 0 through 12 {
  .mt-#{$z} {
    // box-shadow: nth($shadows, $z);
    margin-top: ($z * 4) + px;
  }
}
@for $z from 0 through 12 {
  .mb-#{$z} {
    // box-shadow: nth($shadows, $z);
    margin-bottom: ($z * 4) + px;
  }
}
@for $z from 0 through 12 {
  .my-#{$z} {
    // box-shadow: nth($shadows, $z);
    margin: ($z * 4) + px 0px;
  }
}
@for $z from 0 through 12 {
  .mx-#{$z} {
    // box-shadow: nth($shadows, $z);
    margin: 0 ($z * 4) + px;
  }
}
