<template>
  <div id="q-app" class="bg-dark">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  created() {
    this.$q.addressbarColor.set("#1d1d1d");
  }
};
</script>
<style scoped>
.imagediv {
  background-size: cover;
}
</style>