<template>
  <q-layout>
    <q-toolbar>
      <p class="text-white">hello</p>
    </q-toolbar>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>