<template>
  <q-layout view="hHh lpR fFf">
    <q-header class="text-white" height-hint="64" style="background-color:transparent">
      <!-- <div class="x-scroller">
        <q-tabs align="left">
          - <a href="https://dev.to/kingdavidmiles/">blog</a> 
          <q-route-tab to="/" label="<Home/>" class="text-lowercase" />
          <q-route-tab to="/about" label="<About/>" class="text-lowercase" />
          <q-route-tab to="/project" label="<Projects/>" class="text-lowercase" />
          <q-route-tab exact to="/https://google.com" label="<blog/>" class="text-lowercase" />

          <q-route-tab to="/page3" label="<Cv/>" class="text-lowercase" />
        </q-tabs>
      </div>-->

      <q-toolbar class="bg-dark">
        <!-- <q-toolbar-title>Miles</q-toolbar-title> -->
        <div :class="$q.screen.lt.sm?'q-gutter-sm':'q-gutter-md'">
          <q-btn to="./" flat no-caps dense label="<Home/>"></q-btn>
          <q-btn no-caps to="/about" flat dense label="<About/>"></q-btn>
          <q-btn no-caps to="/project" flat dense label="<Project/>"></q-btn>
          <q-btn no-caps type="a" href="https://dev.to/kingdavidmiles/" flat dense label="<Blog/>"></q-btn>
          <q-btn
            no-caps
            type="a"
            v-if="$q.screen.gt.xs"
            href="https://docs.google.com/document/d/1VLK8JmX5UrZAAvlfH-kr2fRTY3PwtA6b7yCllhbXC3U/edit"
            flat
            dense
            label="<Cv/>"
          ></q-btn>
          <q-btn type="a" flat no-caps dense @click="open" label="<My team>" class="gt-md"></q-btn>
          <center>
            <q-btn type="a" flat no-caps dense @click="open" label="<My team>" class="lt-md"></q-btn>
          </center>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <transition appear enter-active-class="route" leave-active-class="route">
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    open() {
      window.open("https://www.crudloop.com/");
    }
  }
};
</script>

<style >
.x-scroller {
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.icon {
  animation: rotation 1.2s infinite linear;
  background-color: transparent;
}

.q-btn.q-hoverable:hover > .q-focus-helper {
  background: none !important;
  opacity: 0 !important;
  /* animation: glich 1s ease-in-out forwards;
   */
  animation-name: glich;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes glich {
  10% {
    color: rgba(0, 0, 0) !important;
  }
  40% {
    color: #fff !important;
  }
  60% {
    color: rgba(0, 0, 0) !important;
  }
  80% {
    color: #fff !important;
  }
  100% {
    color: rgba(0, 0, 0) !important;
  }
}

/*  */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
